
/* General Loading Animation Styles */
.classroom-loading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.5s ease-in-out;
    height: 140px;
  }
  
  /* Loading Animation for Icon (Circle Loader) */
  .circle-loading {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(90deg, #fcfbfb 25%, #f0f0f0 50%, #d1cfcf 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
  /* Loading Animation for Text */
  .classroom-detail-loading h1,
  .classroom-detail-loading p,
  .classroom-detail-loading .security-code {
    background: linear-gradient(90deg, #fcfbfb 25%, #f0f0f0 50%, #d1cfcf 75%);
    background-size: 200% 100%;
    border-radius: 4px;
    animation: shimmer 1.5s infinite linear;
  }
  
  /* Individual Text Placeholder Sizes */
  .classroom-detail-loading h1 {
    width: 120px;
    height: 20px;
    margin-bottom: 8px;
  }
  
  .classroom-detail-loading p {
    width: 100px;
    height: 14px;
    margin-bottom: 6px;
  }
  
  .classroom-detail-loading .security-code {
    width: 80px;
    height: 14px;
  }
  

  
  /* Keyframes for Shimmer Effect */
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  /* Keyframes for Fade In */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  