
  .container {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .video-list {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 30px;
  }
  
  .video-item {
    display: grid;
    grid-template-rows: 20% 70% 10%;
    margin-top: 50px;

    border-style: solid;
    border-width: 2px;
    border-color: #4CC9FE;
    border-radius: 5px;

    box-shadow: 3px 3px 20px black;
    transition: transform 500ms ease-in-out;
    transition: box-shadow 500ms ease-in-out;
    cursor: pointer;
  }
  .video-item:hover{
    box-shadow: 5px 5px 50px black;
  }
  
  
  .video-item:hover {
    transform: scale(1.02);
  }
  
  .thumbnail {
    width: 80%; /* Ensure it fills the width of its container */
    height: 260px; /* Set a fixed height */
    margin: 0; /* Remove unnecessary margins */
    object-fit: cover; /* Cover the container without black margins */
    display: block; /* Prevent inline spacing issues */
    border-radius: 5px; /* Optional: Round the edges for aesthetics */
    margin: 30px 60px;
  }
  
  
  .video-details {
    padding: 10px;
    flex-grow: 1;
  }
  
  .video-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: white;
  }
  
  .video-description {
    font-size: 14px;
    color: white;
  }
  .file-item {
    display: grid;
    grid-template-rows: 30% 70%;
    margin-top: 50px;

    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: #4CC9FE;
    border-radius: 5px;

    box-shadow: 3px 3px 20px black;
    transition: transform 500ms ease-in-out;
    transition: box-shadow 500ms ease-in-out;
    cursor: pointer;
  }

.file-details{
  color: white;
  margin-top: 80px;
  position: absolute;
  left: 20%;
  top: 20%;

}
.file-item:hover{
  box-shadow: 5px 5px 50px black;
}


.file-item:hover {
  transform: scale(1.02);
}
.file-details h3, .file-details a{
  margin-left: 15px;
}
.icon-fa i{
  color: white;
  font-size: 70px;
  margin-top: 30px;
  position: absolute;
  left: 40%;
}
.file-details a:hover{
  color: #4CC9FE;
}
.fa-thumbs-up{
  font-size: 24px;
  color: #4CC9FE;
  margin-top: 2px;
}
.like-count{
  display: inline-block;
  margin-left: 5px;
  color: white;
}